[submodule "nvim-config-main"]
	path = configs/nvim-config
	url = https://github.com/hoXyy/nvim-config
	branch = main
[submodule "nvim-config-vscode"]
	path = configs/nvim-vscode
	url = https://github.com/hoXyy/nvim-config
	branch = vscode-nvim
